/**
icon-font Webfont
*/
@font-face {
	font-family: 'icon-font';
	src: url('../icon-font.eot?1598606162475');
	src: url('../icon-font.eot?#iefix-1598606162475') format('embedded-opentype'),
		url('../icon-font.woff?1598606162475') format('woff'),
		url('../icon-font.ttf?1598606162475') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'icon-font';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-alert-circle:before {
	content: '\e001';
}

.icon-alert-triangle:before {
	content: '\e002';
}

.icon-arrow-left-circle:before {
	content: '\e003';
}

.icon-arrow-left:before {
	content: '\e004';
}

.icon-arrow-right-circle:before {
	content: '\e005';
}

.icon-arrow-right:before {
	content: '\e006';
}

.icon-bell:before {
	content: '\e007';
}

.icon-calendar:before {
	content: '\e008';
}

.icon-camera:before {
	content: '\e009';
}

.icon-check-circle:before {
	content: '\e00a';
}

.icon-check-square:before {
	content: '\e00b';
}

.icon-check:before {
	content: '\e00c';
}

.icon-chevron-down:before {
	content: '\e00d';
}

.icon-chevron-left:before {
	content: '\e00e';
}

.icon-chevron-right:before {
	content: '\e00f';
}

.icon-chevron-up:before {
	content: '\e010';
}

.icon-chevrons-left:before {
	content: '\e011';
}

.icon-chevrons-right:before {
	content: '\e012';
}

.icon-circle:before {
	content: '\e013';
}

.icon-clock:before {
	content: '\e014';
}

.icon-close:before {
	content: '\e015';
}

.icon-compass:before {
	content: '\e016';
}

.icon-copy:before {
	content: '\e017';
}

.icon-crop:before {
	content: '\e018';
}

.icon-download:before {
	content: '\e019';
}

.icon-edit:before {
	content: '\e01a';
}

.icon-eye:before {
	content: '\e01b';
}

.icon-file-text:before {
	content: '\e01c';
}

.icon-globe:before {
	content: '\e01d';
}

.icon-grid:before {
	content: '\e01e';
}

.icon-hard-drive:before {
	content: '\e01f';
}

.icon-hexagon:before {
	content: '\e020';
}

.icon-home:before {
	content: '\e021';
}

.icon-layers:before {
	content: '\e022';
}

.icon-link-2:before {
	content: '\e023';
}

.icon-list:before {
	content: '\e024';
}

.icon-lock:before {
	content: '\e025';
}

.icon-log-in:before {
	content: '\e026';
}

.icon-log-out:before {
	content: '\e027';
}

.icon-mail:before {
	content: '\e028';
}

.icon-map-pin:before {
	content: '\e029';
}

.icon-map:before {
	content: '\e02a';
}

.icon-maximize-2:before {
	content: '\e02b';
}

.icon-maximize:before {
	content: '\e02c';
}

.icon-minimize-2:before {
	content: '\e02d';
}

.icon-minimize:before {
	content: '\e02e';
}

.icon-minus:before {
	content: '\e02f';
}

.icon-mouse-pointer:before {
	content: '\e030';
}

.icon-move:before {
	content: '\e031';
}

.icon-navigation:before {
	content: '\e032';
}

.icon-paperclip:before {
	content: '\e033';
}

.icon-plus:before {
	content: '\e034';
}

.icon-power:before {
	content: '\e035';
}

.icon-return:before {
	content: '\e036';
}

.icon-rotate-ccw:before {
	content: '\e037';
}

.icon-search:before {
	content: '\e038';
}

.icon-settings:before {
	content: '\e039';
}

.icon-share:before {
	content: '\e03a';
}

.icon-shopping-cart:before {
	content: '\e03b';
}

.icon-square:before {
	content: '\e03c';
}

.icon-tool:before {
	content: '\e03d';
}

.icon-trash-2:before {
	content: '\e03e';
}

.icon-unlock:before {
	content: '\e03f';
}

.icon-upload-cloud:before {
	content: '\e040';
}

.icon-user:before {
	content: '\e041';
}

.icon-x-circle:before {
	content: '\e042';
}

.icon-x-square:before {
	content: '\e043';
}

.icon-zap:before {
	content: '\e044';
}

.icon-zoom-in:before {
	content: '\e045';
}

.icon-zoom-out:before {
	content: '\e046';
}