// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
body {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.2;
}

.custom-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  width: 300px;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 2px 5px 0px rgba(black, 0.2);
  min-height: calc(100vh - 35px);
  padding: .8rem 1rem;
  top: 35px;

  &.pos-left {
    left: 0;
  }

  &.pos-right {
    right: 0;
    width: 410px;
  }
}

agm-map {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0;
  z-index: -1;
  position: fixed !important;
  top: 0;
  left: 0;
}
.gm-svpc{
  display: none;
}
aerodyne-header {
  width: 100%;
}

.map {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0;
  z-index: -1;
  position: fixed !important;
  top: 0;
  left: 0;

  canvas {
    height: 100vh !important;
    width: 100vw !important;
  }
}

//Breadcrumb
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
}

.main-top {
  margin-top: 35px;
}

// Custom title 
.custom-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    color: var(--medium-grey);
  }

  &__sub {
    &--text {
      font-size: 18px;
    }
  }

  &__normal {
    &--text {
      font-size: 16px;
    }
  }
  .info-icon{
    font-size: 25px;
  }
}

.delete {
  color: var(--main-text-color) !important;
  background-color: hsla(var(--main-text-color), 0.2);
}

.drag-drop {
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  border-radius: 4px;
  border: 1px dashed var(--border-dashed);
}

.droparea {
  background-color: lighten($color: $maincolor, $amount: 37%);
}

// Custom table to show the list items
.custom-table {
  margin: 0 -1rem;
  width: calc(100% + 30px);
  overflow-y: scroll;
  max-height: 200px;

  table {
    margin: 0;

    &> :not(caption)>*>* {
      padding: 5px;
    }
  }

  th {
    position: sticky;
    font-weight: normal;
    background-color: var(--table-th);
  }

  tr {
    cursor: pointer;

    &:hover,
    &.active {
      background-color: rgba($tablehover, 0.3);
    }

    &> :first-child {
      padding-left: 1rem;
    }

    &> :last-child {
      padding-right: 1rem;
    }
  }
}

// Status Card
.status-cards {
  list-style: none;
  display: flex;
  padding-left: 0;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 0;

  li {
    text-align: center;
    padding: 5px;
    background-color: var(--light-grey);
    color: white;
    border-radius: 4px;
    width: 23%;
  }

  &__count {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }

  @each $status in $statusall {
    &--#{$status} {
      background-color: var(--#{$status}) !important;
    }
  }
}

@each $status in $statusall {
  .text-#{$status} {
    color: var(--#{$status});
  }
}

hr {
  margin: 1rem -1rem;
  opacity: 1;
  background-color: var(--hr);
}

.tab-icon {
  cursor: pointer;

  &.active {
    color: var(--table-hover) !important;
  }
}

.form-control,
.form-select {
  background-color: $form-field;
  border-color: transparent;
  outline: none;
  transition: all ease-in-out 0.2s;
  color: var(--form-text);
  font-size: 12px;

  &:focus {
    box-shadow: none;
    border-color: transparent;
    background-color: rgba($form-field, 0.6)
  }
}

.form-select {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23a3a3a3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}
.form-control-icon {
  position: relative;

  &>.icon {
    color: var(--form-icon);
    position: absolute;
    right: 15px;
    top: 30%;
  }

  .btn-icon {
    background-color: black;
    border-color: black;
    height: 28px;
    width: 28px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    padding: 1px;
    cursor: pointer;
    border-radius: 50%;
    .icon{
      position: relative;
      top: -2px;
    }
  }
}
.text-error{
  color: red;
}
.text-decoration-none{
  text-decoration: none;
  &:hover{
    border-bottom: 1px solid;
  }
}

.toastr{
  box-shadow: none !important;
  &.toastr-success {
    background-color: $success1 !important;
  }
  &.toastr-danger {
    background-color: $danger1 !important;
  }
}
.icon.icon-information-circle {
  font-size: 17px;
}
.btn-toggle{
  position: absolute;
  top: 0;
  padding: 10px;
  border: 0;
  box-shadow: none;
  background: transparent;
  outline: none;
  font-size: 22px;

  &:focus{
    outline: none;
  }
  &.btn-toggle-right{
    left: -40px;
  }
  &.btn-toggle-left{
    right: -40px;
  }
}
.circle{
  width: 17px;
  height: 17px;
  background-color: $themecolor;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 3px;
}
.clearfix{
  clear: both;
}