header {
  height: auto;
  width: 100%;
  overflow: visible;
  background-color: $white;
  color: var(--grey);
  box-shadow: 0px 2px 5px 0px rgba($black, 0.2);
  font-size: 12px;
  display: flex;
  align-items: center;
  z-index: 10;

  @include media-breakpoint-up(sm) {
    height: 34px;
  }

  .nav-right {
    display: flex;
	justify-content: flex-end;
	margin-bottom: 0;
	padding: 0.5rem 1rem;
	font-size: 14px;
	a{
		color: var(--medium-grey);
		padding: 5px;
    transition: all ease-in-out 0.3s;
    border-radius: 2px;
    margin: 0 4px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items:center;
    text-decoration: none;

		&:hover{
			background-color: var(--medium-grey);
			color: white !important;
		}
	}
  }
}
