@font-face {
  font-family: "icon-font";
  src: url('/assets/fonts/icon-font.eot');
  src: url('/assets/fonts/icon-font.eot?#iefix') format('eot'),
    //url('/assets/fonts/icon-font.woff2') format('woff2'),
    url('/assets/fonts/icon-font.woff') format('woff'),
    url('/assets/fonts/icon-font.ttf') format('truetype'),
    url('/assets/fonts/icon-font.svg#icon-font') format('svg');
}

@mixin icon-styles {
  font-family: "icon-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
  position: relative;
  top: 2px;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

   @if $filename==alert-circle {
      $char: "\E001";
    }

     @if $filename==alert-triangle {
      $char: "\E002";
    }

     @if $filename==arrow-left-circle {
      $char: "\E003";
    }

     @if $filename==arrow-left {
      $char: "\E004";
    }

     @if $filename==arrow-right-circle {
      $char: "\E005";
    }

     @if $filename==arrow-right {
      $char: "\E006";
    }

     @if $filename==bell {
      $char: "\E007";
    }

     @if $filename==calendar {
      $char: "\E008";
    }

     @if $filename==camera {
      $char: "\E009";
    }

     @if $filename==check-circle {
      $char: "\E00A";
    }

     @if $filename==check-square {
      $char: "\E00B";
    }

     @if $filename==check {
      $char: "\E00C";
    }

     @if $filename==chevron-down {
      $char: "\E00D";
    }

     @if $filename==chevron-left {
      $char: "\E00E";
    }

     @if $filename==chevron-right {
      $char: "\E00F";
    }

     @if $filename==chevron-up {
      $char: "\E010";
    }

     @if $filename==chevrons-left {
      $char: "\E011";
    }

     @if $filename==chevrons-right {
      $char: "\E012";
    }

     @if $filename==circle {
      $char: "\E013";
    }

     @if $filename==clock {
      $char: "\E014";
    }

     @if $filename==close {
      $char: "\E015";
    }

     @if $filename==compass {
      $char: "\E016";
    }

     @if $filename==copy {
      $char: "\E017";
    }

     @if $filename==crop {
      $char: "\E018";
    }

     @if $filename==download {
      $char: "\E019";
    }

     @if $filename==edit {
      $char: "\E01A";
    }

     @if $filename==eye {
      $char: "\E01B";
    }

     @if $filename==file-text {
      $char: "\E01C";
    }

     @if $filename==globe {
      $char: "\E01D";
    }

     @if $filename==grid {
      $char: "\E01E";
    }

     @if $filename==hard-drive {
      $char: "\E01F";
    }

     @if $filename==hexagon {
      $char: "\E020";
    }

     @if $filename==home {
      $char: "\E021";
    }

     @if $filename==layers {
      $char: "\E022";
    }

     @if $filename==link-2 {
      $char: "\E023";
    }

     @if $filename==list {
      $char: "\E024";
    }

     @if $filename==lock {
      $char: "\E025";
    }

     @if $filename==log-in {
      $char: "\E026";
    }

     @if $filename==log-out {
      $char: "\E027";
    }

     @if $filename==mail {
      $char: "\E028";
    }

     @if $filename==map-pin {
      $char: "\E029";
    }

     @if $filename==map {
      $char: "\E02A";
    }

     @if $filename==maximize-2 {
      $char: "\E02B";
    }

     @if $filename==maximize {
      $char: "\E02C";
    }

     @if $filename==minimize-2 {
      $char: "\E02D";
    }

     @if $filename==minimize {
      $char: "\E02E";
    }

     @if $filename==minus {
      $char: "\E02F";
    }

     @if $filename==mouse-pointer {
      $char: "\E030";
    }

     @if $filename==move {
      $char: "\E031";
    }

     @if $filename==navigation {
      $char: "\E032";
    }

     @if $filename==paperclip {
      $char: "\E033";
    }

     @if $filename==plus {
      $char: "\E034";
    }

     @if $filename==power {
      $char: "\E035";
    }

     @if $filename==return {
      $char: "\E036";
    }

     @if $filename==rotate-ccw {
      $char: "\E037";
    }

     @if $filename==search {
      $char: "\E038";
    }

     @if $filename==settings {
      $char: "\E039";
    }

     @if $filename==share {
      $char: "\E03A";
    }

     @if $filename==shopping-cart {
      $char: "\E03B";
    }

     @if $filename==square {
      $char: "\E03C";
    }

     @if $filename==tool {
      $char: "\E03D";
    }

     @if $filename==trash-2 {
      $char: "\E03E";
    }

     @if $filename==unlock {
      $char: "\E03F";
    }

     @if $filename==upload-cloud {
      $char: "\E040";
    }

     @if $filename==user {
      $char: "\E041";
    }

     @if $filename==x-circle {
      $char: "\E042";
    }

     @if $filename==x-square {
      $char: "\E043";
    }

     @if $filename==zap {
      $char: "\E044";
    }

     @if $filename==zoom-in {
      $char: "\E045";
    }

     @if $filename==zoom-out {
      $char: "\E046";
    }

    @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    }

    @else {
      @include icon-styles;
    }

    content: icon-char($filename);
  }
}

.icon-alert-circle {
    @include icon(alert-circle);
  }

  .icon-alert-triangle {
    @include icon(alert-triangle);
  }

  .icon-arrow-left-circle {
    @include icon(arrow-left-circle);
  }

  .icon-arrow-left {
    @include icon(arrow-left);
  }

  .icon-arrow-right-circle {
    @include icon(arrow-right-circle);
  }

  .icon-arrow-right {
    @include icon(arrow-right);
  }

  .icon-bell {
    @include icon(bell);
  }

  .icon-calendar {
    @include icon(calendar);
  }

  .icon-camera {
    @include icon(camera);
  }

  .icon-check-circle {
    @include icon(check-circle);
  }

  .icon-check-square {
    @include icon(check-square);
  }

  .icon-check {
    @include icon(check);
  }

  .icon-chevron-down {
    @include icon(chevron-down);
  }

  .icon-chevron-left {
    @include icon(chevron-left);
  }

  .icon-chevron-right {
    @include icon(chevron-right);
  }

  .icon-chevron-up {
    @include icon(chevron-up);
  }

  .icon-chevrons-left {
    @include icon(chevrons-left);
  }

  .icon-chevrons-right {
    @include icon(chevrons-right);
  }

  .icon-circle {
    @include icon(circle);
  }

  .icon-clock {
    @include icon(clock);
  }

  .icon-close {
    @include icon(close);
  }

  .icon-compass {
    @include icon(compass);
  }

  .icon-copy {
    @include icon(copy);
  }

  .icon-crop {
    @include icon(crop);
  }

  .icon-download {
    @include icon(download);
  }

  .icon-edit {
    @include icon(edit);
  }

  .icon-eye {
    @include icon(eye);
  }

  .icon-file-text {
    @include icon(file-text);
  }

  .icon-globe {
    @include icon(globe);
  }

  .icon-grid {
    @include icon(grid);
  }

  .icon-hard-drive {
    @include icon(hard-drive);
  }

  .icon-hexagon {
    @include icon(hexagon);
  }

  .icon-home {
    @include icon(home);
  }

  .icon-layers {
    @include icon(layers);
  }

  .icon-link-2 {
    @include icon(link-2);
  }

  .icon-list {
    @include icon(list);
  }

  .icon-lock {
    @include icon(lock);
  }

  .icon-log-in {
    @include icon(log-in);
  }

  .icon-log-out {
    @include icon(log-out);
  }

  .icon-mail {
    @include icon(mail);
  }

  .icon-map-pin {
    @include icon(map-pin);
  }

  .icon-map {
    @include icon(map);
  }

  .icon-maximize-2 {
    @include icon(maximize-2);
  }

  .icon-maximize {
    @include icon(maximize);
  }

  .icon-minimize-2 {
    @include icon(minimize-2);
  }

  .icon-minimize {
    @include icon(minimize);
  }

  .icon-minus {
    @include icon(minus);
  }

  .icon-mouse-pointer {
    @include icon(mouse-pointer);
  }

  .icon-move {
    @include icon(move);
  }

  .icon-navigation {
    @include icon(navigation);
  }

  .icon-paperclip {
    @include icon(paperclip);
  }

  .icon-plus {
    @include icon(plus);
  }

  .icon-power {
    @include icon(power);
  }

  .icon-return {
    @include icon(return);
  }

  .icon-rotate-ccw {
    @include icon(rotate-ccw);
  }

  .icon-search {
    @include icon(search);
  }

  .icon-settings {
    @include icon(settings);
  }

  .icon-share {
    @include icon(share);
  }

  .icon-shopping-cart {
    @include icon(shopping-cart);
  }

  .icon-square {
    @include icon(square);
  }

  .icon-tool {
    @include icon(tool);
  }

  .icon-trash-2 {
    @include icon(trash-2);
  }

  .icon-unlock {
    @include icon(unlock);
  }

  .icon-upload-cloud {
    @include icon(upload-cloud);
  }

  .icon-user {
    @include icon(user);
  }

  .icon-x-circle {
    @include icon(x-circle);
  }

  .icon-x-square {
    @include icon(x-square);
  }

  .icon-zap {
    @include icon(zap);
  }

  .icon-zoom-in {
    @include icon(zoom-in);
  }

  .icon-zoom-out {
    @include icon(zoom-out);
  }

  