/*******************************/
// Custom Variables
/*******************************/
:root {
  --main-text-color: #3b3b3b;
  --grey: #c9c9c9;
  --light-grey: #f1f1f1;
  --medium-grey: #a3a3a3;
  --table-th: #efefef;
  --table-hover: #e3ba7d;
  --main-color: #91ae7c;
  //Stautus
  --no-issue: #b7cfa5;
  --low: #edd773;
  --cautious: #eeb973;
  --critical: #e5938f;
  --hr: #F0F0F0;
  --form-field: #F0F0F0;
  --form-text: #3b3b3b;
  --form-icon: #a3a3a3;
  --border-dashed: #cdcbcb;
  --sm-loader-border: #f3f3f3;
  --sm-loader-highlight: #3498db;

}
$statusall: 'no-issue', 'low', 'cautious', 'critical';
/*Theme Colors*/
$themecolor: var(--main-color);
$maincolor: #91ae7c;
$tablehover: #e3ba7d;
$form-field: #F0F0F0;
$form-text: #3b3b3b;

$success1: #20CE88 !default;
$danger1: #f25151 !default;
$info1: #3D9BE9 !default;
$warning1: #FED12E !default;

$theme-colors: (
  primary: #91ae7c,
  danger: #e5938f,
  secondary: #d6d6d6,
  warning: #edd773
);



// fonts
$icon-font-path:        "../fonts" !default;
$icon-background-color: #eeeeee !default;
$icon-li-margin-right:  0.4em !default;