<div class="container-fluid page-breadcrumb" [style.display]="pageInfo?.title ? '' : 'none'">
  <div class="row">
    <div class="col-sm-6 align-self-center">
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <ng-template ngFor let-url [ngForOf]="pageInfo?.urls" let-last="last">
              <li class="breadcrumb-item" *ngIf="!last" [routerLink]="url.url">
                <a href='javascript:void(0)'>{{url.title}}</a>
              </li>
              <li class="breadcrumb-item active" *ngIf="last"><i class="{{url.icon}}"></i>&nbsp;{{url.title}}</li>
            </ng-template>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-sm-6 align-self-center">
      <ul class="nav-right list-unstyled list-inline">
				<li><a href="#" tooltip="Search" (click)="selectClientsProject()"><span class="icon icon-search"></span></a></li>
				<li><a href="#"><span class="icon icon-compass"></span></a></li>
				<li><a href="#"><span class="icon icon-list"></span></a></li>
				<li><a href="#" tooltip="Settings"><span class="icon icon-settings"></span></a></li>
				<li><a href="javascript:;" (click)="confirmModal(logoutModal)" tooltip="Logout"><span class="icon icon-power"></span></a></li>
			</ul>
    </div>
  </div>
</div>


<ng-template #logoutModal>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="logout()" >Yes</button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary text-white" (click)="decline()" >No</button>
  </div>
</ng-template>