<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= fontName %> - glyphs list</title>

	<link rel="stylesheet" href="iconfont.css">
	<style>
		* {
			box-sizing: border-box;
		}

		body {
			font-family: Helvetica, Verdana, sans-serif;
		}

		.wrap {
			max-width: 800px;
			margin: 0 auto;
		}

		.glyphs-list {
			margin: 0;
			padding: 0;
			list-style: none
		}

		.glyphs-list li {
			float: left;
			width: 25%;
			padding: 16px;
			text-align: center;
		}

		.glyphs-list li:hover {
			cursor: default;
			background: #ececec;
		}

		.glyphs-list li:nth-child(4n+1) {
			clear: left;
		}

		.glyphs-list i {
			font-size: 48px;
			line-height: 1;
			display: block;
		}

		.glyphs-list code {
      margin: 16px 0 0;
      background: rgba(3, 169, 244, 0.13);
      font-family: Monaco,'Andale Mono','Courier New','Courier',monospace;
      font-size: 90%;
      padding: 0 5px;
      display: inline-block;
		}

		.glyphs-list input {
      margin: 16px 0 0;
      display: block;
      width: 100%;
      height: calc(1.75rem + 2px);
      padding: .275rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		}
	</style>
</head>
<body>
	<div class="wrap">
		<h1><%= fontName %> - glyphs list</h1>
		<ul class="glyphs-list">
			<% _.each(glyphs, function(icon){ %>
			<li onclick="copyText(this)">
				<i class="icon icon-<%= icon.name %>"></i>
				<code>\<%= icon.unicode[0].charCodeAt(0).toString(16) %></code>
				<input type="text" value="icon-<%= icon.name %>"/>
			</li>
			<% }) %>
		</ul>
	</div>
</body>
</html>