<agm-map class="map" #map [zoom]="zoom" [maxZoom]="20" [styles]="lightRustMapStyle" [fitBounds]="true">
  <agm-marker *ngFor="let item of liveMarker" [latitude]="item.lat" [longitude]="item.lng" [animation]="'DROP'"
    [agmFitBounds]="true" [iconUrl]="'assets/icons/green-marker.svg'" (mouseOver)="onMouseOver(infoWindow, map)">

    <agm-info-window [disableAutoPan]="false" #infoWindow>
      <div class="marker">
        <div class="marker-header">
          <h6 class="marker-title">{{item.name}}</h6>
          <p class="marker-address">{{item.address}}</p>
        </div>
        <div class="marker-body marker-split">
          <p>Pilot <br> {{item.pilot.name}}</p>
          <p>Contact <br> {{item.pilot.contact}}</p>
        </div>
        <span type="button" class="btn btn-outline-secondary btn-sm rounded-pill"> {{item.feed}} feed(s)</span>
        <div class="marker-image">
          <img src="https://via.placeholder.com/339x201?text=Image" class="card-img" alt="image">
        </div>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>