.projectcard {
  .icon {
    color: var(--medium-grey);
  }
}

.status-icon {
  width: 18px;
}

.loader {
  border: 2px solid var(--sm-loader-border);
  border-radius: 50%;
  border-top: 2px solid var(--sm-loader-highlight);
  width: 15px;
  height: 15px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.project-process {
  margin-top: 20px;
}

@each $status in $statusall {
	.text-#{$status} {
		color: var(--#{$status}) !important;
	}
}

.components-list{
	padding-top: 1rem;
	line-height: 2;
	ul{
    list-style: none;
    padding-left: 1rem;
	}
	& > ul {
    padding-left: 0;
    ul {
      width: 100%;
    }
  }
  li{
    display: flex;
    flex-wrap: wrap;
  }
  .status-icon {
    width: 15px;
    margin-right: 5px;
  }
  &__count{
    margin-left: auto;
  }
}