<div class="modal-header">
  <div class="modal-header-input">
    <i class="icon icon-search"></i>
    <input type="text" class="form-control" placeholder="Find Projects">
  </div>
</div>

<div class="modal-body modal-body-search">
  <div class="tab-container">
    <ul class="nav nav-stacked flex-column nav-pills">
      <li class="nav-item" *ngFor="let client of data; let i = index">
        <a class="nav-link" [class.active]="viewMode == 'tab' + i " (click)="viewMode ='tab' + i">{{client.name}}</a>
      </li>
      <li class="text-center mt-4">
        <button type="button" tooltip="Add Client" *ngIf="!isClient && !isProject" class="btn btn-primary text-white rounded-circle" (click)="clickOnClient()">
          <i class="icon icon-plus"></i>
        </button>
      </li>
    </ul>
    <div class="tab-content" [ngSwitch]="viewMode">
      <div class="mb-3 modal-search-button">
        <button type="button" *ngIf="!isProject && !isClient" class="btn btn-primary btn-sm text-white" (click)="clickOnProject()">
          <i class="icon icon-plus"></i> Add Project
        </button>
        <button type="button" *ngIf="isProject || isClient" class="btn btn-secondary btn-sm mr-4" (click)="reset()">
          <i class="icon icon-chevron-left"></i> back
        </button>
      </div>

      <div *ngIf="isProject" class="clearfix">
        <form class="form-padding">
          <h4 class="mb-3">Create a new project</h4>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="projectName" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="projectName" placeholder="Enter Project Name">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="projectName1" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="projectName1" placeholder="Enter Project Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="projectName2" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="projectName2" placeholder="Enter Project Name">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="projectName3" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="projectName3" placeholder="Enter Project Name">
              </div>
            </div>
          </div>
          <div class="text-right">
              <button type="submit" class="btn btn-primary btn-sm text-white">Submit</button>
          </div>
        </form>
      </div>

      <div *ngIf="isClient" class="clearfix">
          <form class="form-padding">
            <h4 class="mb-3">Create a new Client</h4>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="clientName" class="form-label">Client Name</label>
                  <input type="text" class="form-control" id="clientName" placeholder="Enter Project Name">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="clientName1" class="form-label">Client Name</label>
                  <input type="text" class="form-control" id="clientName1" placeholder="Enter Project Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="clientName2" class="form-label">Client Name</label>
                  <input type="text" class="form-control" id="clientName2" placeholder="Enter Project Name">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="clientName3" class="form-label">Client Name</label>
                  <input type="text" class="form-control" id="clientName3" placeholder="Enter Project Name">
                </div>
              </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary btn-sm text-white">Submit</button>
            </div>
          </form>
        </div>

      <div *ngIf="!isProject && !isClient" class="clearfix">
        <div *ngFor="let client of data; let i = index">
          <div *ngFor="let project of client.projects">
            <div class="tab-pane project-list fade show" id="tab{{ i }}" *ngSwitchCase="'tab' + i ">
              <h1>{{project.name}}</h1>
              <p>{{project.type}}</p>
              <p>{{project.count}}</p>
              <button class="btn rounded-pill btn-position" [disabled]="project.status != 'active' ? 'disabled': null"
                [ngClass]="project.status == 'active' ? 'btn-warning' : 'btn-secondary'">{{project.status == 'active' ? 'Open' : 'Closed'}}</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
