@import "../../../assets/scss/icon-font";
$light-text: #bdbdbd;
$active-tab: #e7efe2;
$nav-text: #3b3b3b;
$nav-icon: #c1c1c1;
$nav-icon-active: #b7d0a5;
$list-bg: #efefef;
$form-border: #dee2e6;
$btn: edd773;

.modal-header {
  position: relative;

  .modal-header-input {
    width: 100%;

    .icon {
      position: absolute;
      top: 22px;
      font-size: 26px;
      left: 25px;
      color: $light-text;
      font-weight: bold;
    }

    .form-control {
      font-size: 20px;
      background-color: transparent;
      margin-left: 30px;

      &::placeholder {
        color: $light-text;
      }
    }
  }
}

.modal-body-search {
  padding: 0;

  ::ng-deep {
    .tab-container {
      display: flex;
      flex: 1 0 100%;
      flex-wrap: wrap;

      .nav,
      .tab-content {
        flex: 0 0 auto;
      }

      .nav {
        width: 25%;
      }

      .nav-link {
        border-radius: 0;
        line-height: 35px;
        font-size: 18px;
        font-weight: 500;
        padding: 0.5rem 1.5rem;
        color: $nav-text;
        position: relative;
        cursor: pointer;

        &:before {
          font-family: "icon-font";
          color: $nav-icon;
          position: absolute;
          right: 10px;
          top: 5px;
          @extend .icon-chevron-right;
        }
        &.active {
          background-color: $active-tab;
          &:before {
            position: absolute;
            right: 10px;
            top: 10px;
            color: white;
            background: $nav-icon-active;
            padding: 4px 6px;
            font-size: 35px;
            border-radius: 10px;
            line-height: 20px;
            @extend .icon-return;
          }
        }

      }

      .tab-content {
        padding: 1rem;
        width: 75%;
        min-height: 500px;
        max-height: 500px;
        overflow: auto;
        
      }
    }
  }
}

.tab-pane {
  display: block !important;
}
.project-list {
  background: $list-bg;
  padding: .8rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: all ease-in-out 0.3s;
  position: relative;
  p{
    margin-bottom:5px;
  }
  &:hover{
    background-color: darken($color: $list-bg, $amount: 2%)
  }
  // .btn{
  //   background-color: $btn;
  //   background-color: $btn;
  // }
  .btn-position{
    position: absolute;
    top: 40px;
    right: 20px;
  }
}

::ng-deep {
  .model-search {
    .modal-content {
      border-radius: 1rem;
    }
  }
}
.modal-search-button{
  position: relative;
  float: right;
}
.form-padding{
  padding: 1.5rem;
  margin: 1.5rem;
  border: 1px solid $form-border;
  border-radius: 14px;
}