.auth-form {
  padding: 20px;
  background: var(--main-color);
  height: 100vh;
  position: relative;
  color: white;
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;

  h1{
    font-size: 2rem;
  }

  .text-danger {
    color: red !important;
  }

  @include media-breakpoint-up(md) {
    padding: 40px;
    max-width: 540px;
    padding-top: 20px;
    margin-left: auto;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 70px;
    padding-right: 70px;

    .form-control-lg {
      font-size: 1.25rem;
    }
  }

  .form-check-input:checked {
    border-color: $themecolor;
    background-color: $themecolor;
  }

  .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba($themecolor, 0.25);
  }

  a {
    color: white;
  }
}

.auth-logo {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;

  @include media-breakpoint-up(md) {
    width: 370px;
    margin: 50px 0 50px 0;
  }
}

.auth-container {
  background-image: url(../../images/auth_cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 60%;
  background-color: #dddddd;
}

.aerodyne-footer {
  text-align: left;
  color: $white;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 12px;
  right: auto;
  padding-top: 15px;
  color: black;

  img {
    width: 50px;
  }
}
