<div class="container-fluid p-0 auth-container">
  <div class="row justify-content-end m-0">

    <div class="aerodyne-footer">
      <img src="assets/images/aerodyne_outline_black_icon.svg" alt="aerodyne-logo" />
      <p class="mt-2">
        &copy; 2020 powered by Aerodyne. <br> All rights reserved.
      </p>
    </div>

    <div class="col-sm-5 p-0">
      <div class="auth-form">

        <form [formGroup]="loginForm">
          <h1 class="font-weight-normal mb-3">Condition based maintenance</h1>
          <div class="form-group mb-4">
            <input type="text" formControlName="username" class="form-control form-control-lg" placeholder="Username"
              [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.username.invalid, 'is-valid': loginFormSubmitted && !lf.username.invalid }"
              required>
            <div *ngIf="loginFormSubmitted && (lf.username.invalid || lf.username.errors?.required)"
              class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is
              required</div>
          </div>
          <div class="form-group form-control-icon">
            <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Old Password"
              [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.password.invalid, 'is-valid': loginFormSubmitted && !lf.password.invalid }"
              required>
            <div *ngIf="loginFormSubmitted && (lf.password.invalid || lf.password.errors?.required)"
              class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> This is required
            </div>
            <button type="button" class="btn btn-icon" (click)="onSubmit()"><i class="icon icon-arrow-right"></i></button>
          </div>
          <ngx-spinner></ngx-spinner>
          <p class="text-right mt-2"><a class="text-decoration-none" href="javascript:;">Forgot Password?</a></p>
          <!-- <div class="d-sm-flex justify-content-between mb-3 font-small-2">
            <div class="remember-me mb-2 mb-sm-0">
              <div class="checkbox auth-checkbox">
                <input type="checkbox" formControlName="rememberMe" class="form-control" id="rememberMe">
                <label for="rememberMe"><span class="font-small-2 mb-3 font-weight-normal">Remember Me</span></label>
              </div>
            </div>
            <a href="javascript:;">Forgot Password?</a>
          </div> -->
        </form>

      </div>
    </div>
  </div>
</div>
