<!-- Router with some components -->
<!-- add this class to header if need class="fixed-top" -->
<header class="fixed-top">
  <aerodyne-header></aerodyne-header>
</header>
<main class="main-top">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>