<div class="process custom-card pos-right" [@slideInOut]="elementRight">
  <button
    (click)="toggleRight()"
    class="btn-toggle btn-toggle-right"
    tooltip="Tower Bar {{ elementRight == 'in' ? 'Open' : 'Close' }}"
    tooltipPlacement="left"
  >
    <i
      class="icon"
      [ngClass]="
        elementRight == 'in'
          ? 'icon-chevrons-left'
          : 'icon-chevrons-right'
      "
    ></i>
  </button>
  <div class="custom-title mb-1">
    <div class="custom-title__text ml-auto">
      <h1 class="mb-1">
        <i class="icon icon-alert-circle info-icon" tooltip="Inspect Info"></i
        >&nbsp;&nbsp;1 JN-SK 1
      </h1>
      <p class="mb-0 text-right">
        <small class="">5.414850</small><small class="pl-3">3.123850</small
        ><i class="icon icon-edit pl-3" tooltip="Edit"></i>
      </p>
    </div>
  </div>
  <hr />
  <!-- status list start -->
  <ul class="status-cards p-0">
    <li class="status-cards--no-issue">
      <span class="status-cards__count">67</span>
      <span class="status-cards__text">no issue</span>
    </li>
    <li class="status-cards--low">
      <span class="status-cards__count">52</span>
      <span class="status-cards__text">low</span>
    </li>
    <li class="status-cards--cautious">
      <span class="status-cards__count">32</span>
      <span class="status-cards__text">cautious</span>
    </li>
    <li class="status-cards--critical">
      <span class="status-cards__count">12</span>
      <span class="status-cards__text">critical</span>
    </li>
  </ul>
  <hr />
  <div class="custom-title">
    <div class="custom-title__text">
      <p class="mb-1">
        <i class="icon icon-hard-drive text-opacity"></i>&nbsp;&nbsp;AI
        processing
      </p>
    </div>
    <span class="custom-title__icon">
      <i class="icon icon-maximize-2"></i>
    </span>
  </div>
  <!-- status list end -->
  <div class="project-process d-flex justify-content-around text-center">
    <div>
      <p class="mb-1">
        <span>4</span>&nbsp;<i class="icon icon-check-circle"></i>
      </p>
      <small>Completed</small>
    </div>
    <div>
      <p class="mb-1">
        <span>4</span>&nbsp;<span class="d-inline-block loader"></span>
      </p>
      <small>Ongoing</small>
    </div>

    <div>
      <div class="progress" data-percentage="50">
        <span class="progress-left">
          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar"></span>
        </span>
        <div class="progress-value">
          <div>50%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-table mt-2">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" width="20px">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Components</th>
          <th scope="col">Defect</th>
          <th scope="col" width="20px">%</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="onClickShowDefectImage()">
          <td>1</td>
          <td>DSC03405_S8.JPG</td>
          <td>Line Damper</td>
          <td class="text-critical">Damaged</td>
          <td>70</td>
        </tr>
        <tr (click)="onClickShowDefectImage()">
          <td>2</td>
          <td>DS3405_S8.JPG</td>
          <td>Line Damper</td>
          <td class="text-critical">Damaged</td>
          <td>50</td>
        </tr>
        <tr (click)="onClickShowDefectImage()">
          <td>3</td>
          <td>DSC03405.JPG</td>
          <td>Line Damper</td>
          <td class="text-no-issue">Healthy</td>
          <td>82</td>
        </tr>
        <tr (click)="onClickShowDefectImage()">
          <td>4</td>
          <td>DSC03405_S8.JPG</td>
          <td>Healthy</td>
          <td>
            <div class="loader"></div>
          </td>
          <td>40</td>
        </tr>
        <tr (click)="onClickShowDefectImage()">
          <td>5</td>
          <td>DSC005_S8.JPG</td>
          <td>Healthy</td>
          <td>
            <div class="loader"></div>
          </td>
          <td>75</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <div class="custom-title">
    <div class="custom-title__text">
      <p class="mb-1">
        <i class="icon icon-tool text-opacity"></i>&nbsp;&nbsp;Components
      </p>
    </div>
    <span class="custom-title__icon">
      <i class="icon icon-maximize-2"></i>
    </span>
  </div>
  <div class="components-list">
    <ul>
      <li>
        <span> <i class="circle mr-2"></i> Line Damper</span>
        <span class="components-list__count">4</span>
        <ul>
          <li>
            <span><img class="status-icon" src="assets/icons/green-marker.svg" alt="green">Damaged</span>
            <span class="components-list__count">2</span>
          </li>
          <li>
            <span><img class="status-icon" src="assets/icons/red-marker.svg" alt="red">Health</span>
            <span class="components-list__count">2</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
