<div class="defect-modal">
  <div class="row">
    <div class="col-sm-8">
      <div class="defect-modal-container">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        <div class="defect-edit">
          <i class="icon icon-edit" tooltip="Edit"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h4>Image Name</h4>
      <div class="row">
        <label class="col-sm-5 col-form-label">Confidence Level</label>
        <div class="col-sm-7">
          <b class="form-control-plaintext">: 90%</b>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-5 col-form-label">Severity</label>
        <div class="col-sm-7">
          <b class="form-control-plaintext">: No issue</b>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Component</label>
        <select class="form-select">
          <option selected>Select Component</option>
          <option value="1">Line Damper</option>
          <option value="2">Climbing bolt</option>
          <option value="3">Repair sleev</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Defect Type</label>
        <select class="form-select">
          <option selected>Select Defect</option>
          <option value="1">Healthy</option>
          <option value="2">Damaged</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Recommendations</label>
        <textarea rows="6"  class="form-control" placeholder="..."></textarea>
      </div>

      
      <div class="d-flex justify-content-end mb-3">
        <button type="submit" class="btn btn-danger btn-sm text-white mr-2">Revert</button>
        <button type="submit" class="btn btn-primary btn-sm text-white">Save</button></div>
    </div>
  </div>
</div>
