$active-thumb: #e5938f;
.defect-modal{
  padding: 1rem;
  &-container{
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.defect-edit{
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 100;
  color: white;
  font-size: 20px;
}

::ng-deep {
  .ngx-gallery-thumbnails {
    .ngx-gallery-thumbnail {
      border-color: transparent !important;
    }
    .ngx-gallery-thumbnail.ngx-gallery-active{
      border-color: $active-thumb !important;
    }
  }
}

