<div class="projectcard custom-card pos-left" [@slideInOut]="elementLeft">
  <button (click)="toggleLeft()" class="btn-toggle btn-toggle-left" tooltip="Site Bar {{elementLeft=='out'?'Open':'Close'}}" tooltipPlacement="right">
    <i class="icon" [ngClass]="(elementLeft=='in')?'icon-chevrons-left':'icon-chevrons-right'" ></i>
   </button>

  <div class="custom-title mb-3">
    <div class="custom-title__text">
      <h4>Project Id</h4>
    </div>
    <span class="custom-title__icon">
      <i class="icon icon-alert-circle"></i>
    </span>
  </div>
  <div class="custom-title mb-2">
    <div class="custom-title__text">
      <span class="custom-title__normal--text">6 Campaigns</span>
    </div>
    <span class="custom-title__icon" tooltip="Create a new">
      <button type="button" class="btn btn-primary btn-sm rounded-circle"><i
          class="icon icon-plus text-white"></i></button>
    </span>
  </div>
  <div class="custom-table">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Inspection No</th>
          <th scope="col">Date</th>
          <th scope="col" width="20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>inspection-04</td>
          <td>20-02-2020</td>
          <td><span class="icon icon-trash-2 delete"></span></td>
        </tr>
        <tr>
          <td>inspection-05</td>
          <td>20-02-2020</td>
          <td><span class="icon icon-trash-2 delete"></span></td>
        </tr>
        <tr>
          <td>inspection-06</td>
          <td>20-02-2020</td>
          <td><span class="icon icon-trash-2 delete"></span></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="custom-title mb-2 mt-3">
    <div class="custom-title__text">
      <p class="custom-title__sub--text mb-1">Campaign_6</p>
      <small>20/12/2020</small>
    </div>
    <span class="custom-title__icon">
      <i class="icon icon-edit tab-icon" [class.active]="viewMode == 'tab1'" rel="tab1"
        (click)="viewMode ='tab1'" tooltip="Edit"></i>&nbsp;&nbsp;
      <i class="icon icon-file-text tab-icon" [class.active]="viewMode == 'tab2'" rel="tab2"
        (click)="viewMode ='tab2'" tooltip="List Item"></i>
    </span>
  </div>
  <!-- status list start -->
  <ul class="status-cards">
    <li class="status-cards--no-issue">
      <span class="status-cards__count">67</span>
      <span class="status-cards__text">no issue</span>
    </li>
    <li class="status-cards--low">
      <span class="status-cards__count">52</span>
      <span class="status-cards__text">low</span>
    </li>
    <li class="status-cards--cautious">
      <span class="status-cards__count">32</span>
      <span class="status-cards__text">cautious</span>
    </li>
    <li class="status-cards--critical">
      <span class="status-cards__count">12</span>
      <span class="status-cards__text">critical</span>
    </li>
  </ul>
  <!-- status list end -->
  <hr>

  <div class="tab-slider--container" [ngSwitch]="viewMode">
    <div id="tab1" *ngSwitchCase="'tab1'">
      <p><i class="icon icon-upload-cloud text-opacity"></i>&nbsp;&nbsp;Tower Upload</p>

      <form>
        <div class="mb-3">
          <select class="form-select">
            <option selected>Campain Details</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select">
            <option selected>Assign Pilot</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select">
            <option selected>Assign Termographer</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mb-3 form-control-icon">
          <input type="text" class="form-control" placeholder="dd/mm/yyyy" 
          bsDatepicker
          [bsConfig]="{ adaptivePosition: true, containerClass:'theme-default' }"
          [minDate]="minDate"
          [(bsValue)]="bsValue">
          <span class="icon icon-calendar"></span>
        </div>
        <div class="mb-3 form-control-icon">
          <input type="text" class="form-control" placeholder="dd/mm/yyyy" 
          bsDatepicker
          [bsConfig]="{ adaptivePosition: true, containerClass:'theme-default' }"
          [minDate]="minDate"
          [(bsValue)]="bsValue">
          <span class="icon icon-calendar"></span>
        </div>
        <div class="d-flex justify-content-around mb-3">
          <button type="submit" class="btn btn-danger btn-sm text-white">Discard</button>
          <button type="submit" class="btn btn-primary btn-sm text-white">Save & Next</button>
        </div>
      </form>

    </div>
    <div id="tab2" *ngSwitchCase="'tab2'">
      <p><i class="icon icon-upload-cloud text-opacity"></i>&nbsp;&nbsp;Tower Upload</p>
      <!-- Drag and Drop or upload start-->
      <div draggable="true" class="drag-drop" ngClass="{{dragAreaClass}}">
        Drag & drop source folders or
        <a href="javascript:void(0)" class="btn btn-primary btn-sm text-white mt-3" (click)="file.click()">Browse</a>
        <input type="file" #file [multiple]="false" (change)="onFileChange($event)" style="display:none" />
      </div>
      <div class="error" *ngIf="error">
        Only one file at time allow
      </div>
      <!-- Drag and Drop or upload end-->

      <div class="project-process d-flex justify-content-around text-center">
        <div>
          <p class="mb-1"><span>4</span>&nbsp;<i class="icon icon-check-circle"></i></p>
          <small>Completed</small>
        </div>
        <div>
          <p class="mb-1"><span>4</span>&nbsp;<span class="d-inline-block loader"></span></p>
          <small>Ongoing</small>
        </div>

        <div>
          <div class="progress" data-percentage="50">
            <span class="progress-left">
              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
              <div>50%</div>
            </div>
          </div>
        </div>

      </div>
      <div class="custom-table mt-2">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col" width="20px">No.</th>
              <th scope="col">Tower</th>
              <th scope="col">Data</th>
              <th scope="col">Status</th>
              <th scope="col" width="20px"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img class="status-icon" src="assets/icons/green-marker.svg" alt="green"></td>
              <td>1 JN-SK 1</td>
              <td>20</td>
              <td><span class="text-no-issue icon icon-check-circle"></span></td>
              <td><span class="icon icon-trash-2 delete"></span></td>
            </tr>
            <tr>
              <td><img class="status-icon" src="assets/icons/red-marker.svg" alt="red"></td>
              <td>1 JN-SK 2</td>
              <td>20</td>
              <td><span class="text-no-issue icon icon-check-circle"></span></td>
              <td><span class="icon icon-trash-2 delete"></span></td>
            </tr>
            <tr>
              <td><img class="status-icon" src="assets/icons/yellow-marker.svg" alt="yellow"></td>
              <td>1 JN-SK 3</td>
              <td>20</td>
              <td><span class="text-no-issue icon icon-check-circle"></span></td>
              <td><span class="icon icon-trash-2 delete"></span></td>
            </tr>
            <tr>
              <td><img class="status-icon" src="assets/icons/yellow-marker.svg" alt="yellow"></td>
              <td>1 JN-SK 3</td>
              <td>20</td>
              <td>
                <div class="loader"></div>
              </td>
              <td><span class="icon icon-trash-2 delete"></span></td>
            </tr>
            <tr>
              <td><img class="status-icon" src="assets/icons/yellow-marker.svg" alt="yellow"></td>
              <td>1 JN-SK 3</td>
              <td>20</td>
              <td>
                <div class="loader"></div>
              </td>
              <td><span class="icon icon-trash-2 delete"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
